body {
  background-color: #E8E8E8;
}

.jumbotron {
  text-align: center;
  text-shadow: 5px 5px 2px #888888;
  background-color:#F6DEA2;

}

.about {
  background-color: #86AF6B;
  padding-left:35px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.about h4 {
  color: #F6DEA2;
}

.about h5 {
  color: #FFF;
}

.about a {
  text-decoration: none;
}

.game {
  padding-left: 50px;
}

#intro img {
  float:right;
  width: 330px;
  padding-right: 20px;
}

#number {
  width: 250px;
  display:inline-block;
}

#secretOutput {
  display: none;
  text-align: center;
  font-weight: bolder;
  font-family: fantasy;
  margin-top: 50px;
}

#secretOutput img {
  border: 5px solid #86AF6B;
  border-radius: 30%;
}
